/* porteros */
#Cabeza{
    background-color: black;
    color: orange;
}
#jaume{
    width:125px;
    height:150px;
}
/* Defensas */
#correia{
    width:125px;
    height:150px;
}
#lato{
    width:125px;
    height:150px;
}
#diakhabi{
    width:125px;
    height:150px;
}
#mangala{
    width:125px;
    height:150px;
}
#paulista{
    width:125px;
    height:150px;
}
/* Centrocampistas */
#racic{
    width:125px;
    height:150px;
}
#guedes{
    width:125px;
    height:150px;
}
#soler{
    width:125px;
    height:150px;
}
#racic{
    width:125px;
    height:150px;
}
/* Delanteros */
#vallejo{
    width:125px;
    height:150px;
}
#gameiro{
    width:125px;
    height:150px;
}
#lee{
    width:125px;
    height:150px;
}
#vallejo{
    width:125px;
    height:150px;
}
