#titulo{
    color: rgb(155, 70, 0);
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.body{
    background-color: antiquewhite;
}
#lacarta{
    color: rgb(230, 61, 0);
    font-weight:400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#elcafe{
    color: orangered;
    font-weight: bold;
    font-family:Verdana, ;
}
#Carta{
    height: 100px;
    width: 250px;
}
#Cafe{
    height: 150px;
    width: 150px;
}
#Contacto{
    height: 100px;
    width: 100px;
}
.Tcontacto{
    right: 100px;
}